<!doctype html>
<html lang="{{ site.Language.Locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#070a18">
    <meta name="description" content="{{ site.Params.description }}">
    <meta property="og:title" content="{{ if .IsHome }}Conjuror: Keep your hands on the keyboard.{{ else }}{{ .Title }} | Conjuror{{ end }}">
    <meta property="og:description" content="{{ site.Params.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <title>{{ if .IsHome }}Conjuror: Keep your hands on the keyboard.{{ else }}{{ .Title }} | Conjuror{{ end }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&amp;display=swap">
    {{ $styles := slice
      (resources.Get "css/foundations.css")
      (resources.Get "css/components.css")
      (resources.Get "css/home.css")
      (resources.Get "css/legal.css")
      (resources.Get "css/docs.css")
      (resources.Get "css/responsive.css")
      | resources.Concat "css/main.css"
      | minify
      | fingerprint
    }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    {{ $script := resources.Get "js/main.js" | minify | fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
  </body>
</html>
