<footer class="site-footer{{ with .class }} {{ . }}{{ end }}">
  {{ partial "brand.html" (dict "href" .homeHref) }}
  <div>
    {{ if .showDocs }}<a href="/docs/">Docs</a>{{ end }}
    <a href="{{ site.Params.organizationURL }}">GitHub</a>
    <a href="/privacy/">Privacy</a>
    <span class="copyright">
      <button class="copyright-trigger" type="button" data-copyright-trigger>© {{ site.Params.copyright.year }} {{ site.Params.copyright.owner }}</button>
      <span class="copyright-surprise" data-copyright-surprise aria-live="polite"></span>
    </span>
  </div>
</footer>
